<?xml version="1.0"?>
<ruleset name="cmdlineargs">
    <description>The default command line arguments</description>

    <file>src</file>

    <arg name="extensions" value="php"/>
    <config name="php_version" value="50600"/>

    <rule ref="phpcs/db-ping"/>
</ruleset>
